html, body {
  height: 100%;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

* {
  pointer-events: none;
  user-select: none;
}

.container {
  height: 100%;
  display: flex;
}

.wrapper {
  margin: auto;
}

#side-chooser {
  text-align: center;
}

#side-chooser button {
  font-size: 22px;
}

#game-result-text {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 1.2em;
  min-height: 1.2em;
  color: red;
}

#board {
  width: 400px;
  height: 400px;
  background: #999999;
  display: flex;
  flex-wrap: wrap;
}

#board button {
  width: 33.3333%;
  height: 33.3333%;
  outline: none;
  font-size: 50px;
}

#board button:focus {
  background: gold;
}

.game-controls {
  margin-top: 30px;
  text-align: center;
}

#restart-button {
  font-size: 20px;
}

.score {
  display: flex;
  flex-wrap: wrap;
}

.score-title {
  width: 100%;
  text-align: center;
}

.score-col {
  width: 50%;
}

.score-col:last-child {
  text-align: right;
}

#promo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  height: auto;
}
